[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "cd backend && npm install",
  "cd frontend && npm install",
  "cd frontend && npm run build"
]

[start]
cmd = "cd backend && npm start"

